@import '../../global.scss';

.testimonials{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

        @include mobile{
            justify-content: space-around;
        }

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }

    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex-direction: column;
            height: 100%;
            margin: 10px 0;
        }

        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space;
            padding: 20px;
            transition: all 1s ease;

            @include mobile{
                height: 180px;
            }

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 30px;
                
                @include mobile{
                    width: 250px;
                    height: 180px;
                    margin: 1px;
                }
            }

            &:hover{
                transform: scale(1.1);
            }

            .top{
                margin-top: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                    
                img{
                
                    &.left, 
                    &.linkedin{
                        height: 25px;
                        &:hover{
                            cursor: pointer;
                        }
                    }

                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: contain;
                        margin: 0 30px;

                        @include mobile{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .testimony{
                margin-top:10px;
                font-size: 12px;
                overflow: hidden;
                padding: 5px;
                background-color: rgb(241, 239, 240);
                border-radius: 5px;

                @include mobile{
                    font-size: 12px;
                    padding: 5px;
                }
            }

            h3{

                @include mobile{
                    font-size: 14px;
                }
            }

            .identity{
                color: gray;
                
                @include mobile{
                    font-size: 13px;
                }
            }

        }
    }
}